.home-main-wrapper{
    display: flex;
    width: 100%;
}
.home-sidebar{
    overflow-y: auto;
}
.home-welcome{
    width: 100%;
    color: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-welcome-heading{
    font-size: 2em;
}
.home-welcome-desc{
    font-size: 1.5em;
}
.home-welcome-patients{
    font-size: 1em;
}
.home-welcome-patients-logo{
    font-size: 2em;
}
.home-container{
    display: flex;
    padding-top: 0.5em;
    overflow-x: auto;
    overflow-y: auto;
}